<div class="flex-container">
    <h3>Dashboard</h3>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>EmpDept</th>
                <th>Email</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody *ngIf="emps">
            <tr *ngFor="let emps of emps">
                <td>{{emps.empid}}</td>
                <td>{{emps.empname}}</td>
                <td>{{emps.dept}}</td>
                <td>{{emps.email}}</td>
                <td>{{emps.level}}</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
<hr style="height: 4px;"/>
<div class="container-fluid">
    <p style="font-size:10pt; opacity: 40%; color: gray" >
        {{emps | json}}
    </p>
</div>
<!-- _id": "629dc78dc88b3aa8a899efff",
    "empid": 1,
    "empname": "ALex",
    "dept": "IT",
    "email": "alex@gmail.com",
    "level": "Manager" -->